:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.edit-todo-modal {
  width: 400px; /* Adjust width as needed */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
